@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: green;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    background: purple;
    border-radius: 10px;
}

.wrapper form h1 {
    color: #fff;
    font-size: 3em;
    text-align: center;
}